@import "tailwindcss";

:root {
  --orange: #fe4f18;
  --dark: #0d0d0d;
  --text-dark: #090909;
  --text-gray: #9c9c9c;
  --bg-light: #f4f5f9;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-dark);
  background: #fff;
}

.font-heading {
  font-family: var(--font-montserrat), sans-serif;
}

.font-body {
  font-family: var(--font-onest), sans-serif;
}
